<!-- Header -->
<%- include ('./../common/header/header.ejs') %>

<!-- Menu -->
<%- include ('./../common/menu/menu.ejs') %>

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./"><i class="fa fa-home"></i> Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container bg-white p-5 rounded">
        <div>
            <div class="section-title">
                <h4>Profile</h4>
            </div>
        </div>
        <form action="" method="post">
            <div class="row">
                <div class="col-lg-5 col-md-5">
                    <div class="text-center">
                        <img id="img-avatar" class="w-50 p-3 px-1" src="<%-user.avartaUrl%>" class="rounded-circle" alt="SOAS User avatar">
                        <form enctype="multipart/form-data">
                            <div class="form-group text-center">
                                <label for="upload-avatar" class="btn btn-info">
                                    <span>New avatar</span>
                                    <input id="upload-avatar" type="file" class="form-control-file" onchange="readURL(this);" id="upload-avatar" hidden>
                                </label>
                            </div>
                        </form>
                        <script>
                            function readURL(input) {
                                if (input.files && input.files[0]) {
                                    var reader = new FileReader();

                                    reader.onload = function (e) {
                                        $('#img-avatar').attr('src', e.target.result);
                                    };
                                    
                                    reader.readAsDataURL(input.files[0]);
                                }
                            }
                        </script>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <div class="row">
                        <% if (errors) { %>
                            <% if (errors != "") { %>
                                <% errors.forEach(element => { %>
                                    <div class="alert alert-danger alert-dismissable user-modal-alert-error"><%-element %> </div>
                                <% })} %>
                        <% } %>

                        <div class="alert alert-danger alert-dismissable user-modal-alert-error d-none">
                            <a class="panel-close close" data-dismiss="alert">×</a>
                            <span>Update user error example.</span>
                        </div>

                        <div class="alert alert-success alert-dismissable user-modal-alert-success d-none">
                            <a class="panel-close close" data-dismiss="alert">×</a>
                            <span>Update user success example.</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12 col-md-12">
                            <label for="iursname" class="text-left font-weight-bold">User Name</label>
                            <input type="text" class="form-control" id="input-ursname" name="user-name"
                                placeholder="Your Username" value="<%= user.username%>">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label class="row container pb-2 font-weight-bold">Name<span class="text-danger">*</span></label>
                            <div class="row">
                                <div class="form-group col-lg-6 col-md-6">
                                    <input type="text" class="form-control" id="input-firstname" name="fname" placeholder="First Name" value="<%= user.personalInfo.firstname %>">

                                </div>
                                <div class="form-group col-lg-6 col-md-6">
                                    <input type="text" class="form-control" id="input-lastname" name="lname"  placeholder="Last Name" value="<%= user.personalInfo.lastname %>">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 col-md-6">
                            <label for="example-date-input" class="text-left col-form-label font-weight-bold">Birthdate<span class="text-danger">*</span></label>
                            <input class="form-control" type="date" value="<%= user.personalInfo.dob %>" id="input-dob">
                        </div>
                        <div class="form-group col-lg-6 col-md-6">
                            <label for="i-gender" class="text-left col-form-label font-weight-bold">Gender<span class="text-danger">*</span></label>
                            <select class="form-control" id="input-gender">
                                <option <% if (user.gender === "male") { %>
                                    selected
                                <% } %>value="male">Male</option>
                                <option <% if (user.gender === "female") { %>
                                    selected
                                <% }%>value="female" >Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 col-md-6">
                            <label for="iemai" class="text-left font-weight-bold">Email<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="input-email" name="email"
                                placeholder="your_email@example.com" value="<%= user.local.email%>" readonly>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 ">
                            <label for="phone-number" class="font-weight-bold">Phone Number</label>
                            <input type="text" class="form-control" id="input-phonenumber" placeholder="Phone" name="phone-number"
                            value="<%= user.phone %>">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row container pb-2 font-weight-bold">Address<span class="text-danger">*</span></div>
                        <div class="row">
                            <div class="form-group col-lg-6 col-md-6">
                                <input type="text" class="form-control" id="input-city" placeholder="Province/City" value="<%=user.personalInfo.address.city%>">
                            </div>
                            <div class="form-group col-lg-6 col-md-6">
                                <input type="text" class="form-control" id="input-district" placeholder="District" value="<%=user.personalInfo.address.district%>">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-12 col-md-12">
                                <input type="text" class="form-control" id="input-address" placeholder="Address" value="<%=user.personalInfo.address.detailAddress%>">
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row mx-auto mt-5">
                    <div class="col-6">
                        <button type="button" class="btn btn-info" id="input-btn-update-user">Update</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-danger" id="input-btn-reset-user">Cancel</button>
                    </div>
                </div>
            </div>
        </form>



    </div>
</section>
<!-- Product Section End -->

<!-- Footer -->
<%- include ('./../common/footer/footer.ejs') %>
