<!-- header -->
<%- include("../common/header/header.ejs"); %>
<!-- breadcrumb -->
<%- include("../common/menu/menu.ejs"); %>
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./"><i class="fa fa-home"></i> Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
    <!-- Shop Section Begin -->
<!-- Product Section Begin -->
<section class="top__area spad">
    <div class="container bg-white p-5 rounded">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>Products</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <ul class="filter__controls">
                    <li class="active"><a href="/products">All</a></li>
                    <% categories.slice(0 , 6).forEach(item => {%>
                        <li data-filter="" onclick="findItemsByCat('<%-item.name%>')"><%-item.value%></li>
                    <%})%>
                </ul>
            </div>
        </div>
        <div class="row property__gallery" id="products">
                        <!-- list product start -->
                        <% if(products.length > 0){%>
                            <% products.forEach(product => {%>
                                <div class="col-lg-3 col-md-4 col-sm-6 mix women pb-4">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg" data-setbg="<%-product.image%>">
                                            <div class="label new">New</div>
                                            <div class="auction__hover">
                                                <%if(product.winnerId) {%>
                                                    <div class="auction__winner">
                                                        <i class="fa fa-trophy text-warning" aria-hidden="true"></i>
                                                        ID: <span style="background-color: #6495ed;" id="details_<%-product._id%>"><%-product.winnerId%></span>
                                                    </div>
                                                <%}%>
                                                <div class="auction__price h1" id="auction__price_<%-product._id%>">$ <%-product.price%></div>
                                            </div>
                                            <ul class="product__hover">
                                                <li><a href="<%-product.image%>" class="image-popup"><span class="arrow_expand"></span></a></li>

                                                <li onclick="onBiddingProduct('<%-product._id%>')">
                                                    <a href="#"><span class="fa fa-gavel"></span></a>
                                                </li>
                                                <input type="number" id="input-price<%-product._id%>" value="<%-product.price%>" min="<%-product.price%>" step="<%-product.priceStep%>" hidden>
                                                <li><a href="/products/<%-product._id%>"><span class="icon_bag_alt"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__item__text">
                                            <h6><a href="/products/<%- product._id%>"><%-product.name%></a></h6>
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div style="position: relative;">
                                                <span style="color: black; position: absolute; left: 0;">$ </span>
                                                <div class="product__price" style="position: absolute; left: 20px;" id="<%-product._id%>">
                                                    <%-product.price%>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <%})%>
                        <%}else{%>
                            <div class="col-lg-3 col-md-4 col-sm-6 mix women pb-4">
                                <div class="product__item__text">No Product found</div>
                            </div>
                        <%}%>
                        <!-- list product end -->
                        <!-- pagination section start -->
                        <div class="col-lg-12 text-center">
                            <!--<ul class="pagination pagination-lg">
                            //     <% for(let i = 1; i<= page; i++) {%>
                            //         <li class="page-item">
                            //             <a class="page-link" href="?page=<%- i%>"><%- i%></a>
                            //         </li>
                            //     <%}%>
                            // </ul>-->
                            <div class="pagination__option" id="paging">
                                <a href="#"><i class="fa fa-angle-left"></i></a>
                                <% for(let i = 1; i<= page; i++) {%>
                                    <a href="?page=<%- i%>" id="<%- i%>"><%- i%></a>
                                <%}%>
                                <a href="#"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                        <!-- pagination section end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- Shop Section End -->
<!-- footer -->
<%- include("../common/footer/footer.ejs"); %>
<script src="/js/pagination.min.js"></script>
