<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="SOAS - Admin">
    <meta name="description"
        content="This is Admin page of Secure Online Auction System - SOAS">
    <meta name="robots" content="noindex,nofollow">
    <title>SOAS Admin</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/xtreme-admin-lite/" />
    <!-- Favicon icon -->
    <link rel="shortcut icon" href="/favicon.ico" />
    <!-- Custom CSS -->
    <link href="/adminvendors/chartist/dist/chartist.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/admincss/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/alertify/alertify.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body onload="return showUser('<%-users[0]._id%>')">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="/products">
                        <!-- Logo icon -->
                        <b class="logo-icon">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="/img/logo.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="/img/logo-light.png" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item search-box"> <a class="nav-link waves-effect waves-dark"
                                href="javascript:void(0)"><i class="ti-search" style="line-height: 5;"> </i> Search...</a>
                            <form class="app-search position-absolute">
                                <input type="text" class="form-control" placeholder="Search &amp; enter"> <a
                                    class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-right">
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href=""
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img hidden
                                    src="/img/users/5.jpg" alt="user" class="rounded-circle"
                                    width="31"></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated">
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i>
                                    My Profile</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-wallet m-r-5 m-l-5"></i>
                                    My Balance</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i>
                                    Inbox</a>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li>
                            <!-- User Profile-->
                            <div class="user-profile d-flex no-block dropdown m-t-20">
                                <div hidden class="user-pic"><img src="/img/users/5.jpg" alt="users"
                                        class="rounded-circle" width="40" /></div>
                                <div class="user-content hide-menu m-l-10">
                                    <!-- <a href="javascript:void(0)" class="" id="Userdd" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <h5 class="m-b-0 user-name font-medium"><i
                                                class="fa fa-angle-down"></i></h5>
                                        <span class="op-5 user-email">hoanvn1999@gmail.com</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Userdd">
                                        <a class="dropdown-item" href="javascript:void(0)"><i
                                                class="ti-user m-r-5 m-l-5"></i> My Profile</a>
                                        <a class="dropdown-item" href="javascript:void(0)"><i
                                                class="ti-wallet m-r-5 m-l-5"></i> My Balance</a>
                                        <a class="dropdown-item" href="javascript:void(0)"><i
                                                class="ti-email m-r-5 m-l-5"></i> Inbox</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:void(0)"><i
                                                class="ti-settings m-r-5 m-l-5"></i> Account Setting</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:void(0)"><i
                                                class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
                                    </div> -->
                                </div>
                            </div>
                            <!-- End User Profile-->
                        </li>
                        
                        <!-- User Profile-->
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="/admin" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span
                                class="hide-menu">Dashboard</span></a></li>
                        
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="/admin/listAccount" aria-expanded="false"><i class="mdi mdi-account"></i><span
                                    class="hide-menu">List Accounts</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="/admin/listProduct" aria-expanded="false"><i class="mdi mdi-gift"></i><span
                                class="hide-menu">List product</span></a></li>
                        <!-- <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="starter-kit.html" aria-expanded="false"><i class="mdi mdi-file"></i><span
                                    class="hide-menu">Blank</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="error-404.html" aria-expanded="false"><i class="mdi mdi-alert-outline"></i><span
                                    class="hide-menu">404</span></a></li> -->
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-5">
                        <h4 class="page-title">Accounts</h4>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Accounts</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="text-right">
                            <a href="/" class="btn btn-danger text-white"
                                target="_blank">Log out</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- Table -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div id="info-details" class="card">
                            <div class="card-body">
                                <center class="m-t-10"> <img src="/img/users/2.jpg"
                                        class="rounded-circle ava_img" width="150" />
                                    <h4 id="user_name" class="card-title mt-3">Thanh Long</h4>
                                    <h6 id="user_role" class="card-subtitle">Buyer</h6>
                                </center>
                            </div>
                            <div>
                                <hr class="m-0">
                            </div>
                            <div class="card-body">                                                                
                                <small class="text-muted p-t-30 db">Email address</small>
                                <h6 id="user_email">long@example.com</h6> 
                                <div class="row">
                                    <div class="col-6">
                                        <small class="text-muted p-t-30 db">Phone</small>
                                        <h6 id="user_phone">0912345678</h6>
                                    </div>
                                    <div class="col-6">
                                        <small class="text-muted">Account type</small>
                                    <h6>Personal</h6> 
                                    </div>
                                </div>                               
                                <div class="row">
                                    <div class="col-6">
                                        <small class="text-muted p-t-30 db">Birthday</small>
                                    <h6 id="user_birthday">30/04/1998</h6>
                                    </div>
                                    <div class="col-6">
                                        <small class="text-muted p-t-30 db">Gender</small>
                                        <h6 id="user_gender">Male</h6>
                                    </div>
                                </div>  
                                <small class="text-muted p-t-30 db">Address</small>
                                <h6 id="user_address">Hoa Khanh - Da Nang</h6>
                                <small class="text-muted p-t-30 db">Identify card</small>
                                <div class="row pb-2">
                                    <div class="col-6"><img src="" class="img-fluid f" alt="Identify card front"></div> 
                                    <div class="col-6"><img src="" class="img-fluid b" alt="Identify card back"></div>
                                </div> 
                                <div class="pt-1 row">
                                    
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- column -->
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div id="lists" class="card">
                            <div class="card-body" style="flex: 0 1 auto">
                                <!-- title -->
                                <div class="d-md-flex align-items-center">
                                    <div>
                                        <h4 class="card-title">Accounts</h4>
                                    </div>
                                </div>
                                <!-- title -->
                            </div>
                            <div class="table-responsive">
                                <table class="table v-middle">
                                    <thead>
                                        <tr class="bg-light">
                                            <th class="border-top-0">Account</th>
                                            <th class="border-top-0">Email</th>
                                            <th class="border-top-0">Role</th>                                            
                                            <th class="border-top-0">Status</th>
                                            <th class="border-top-0">Control</th>
                                        </tr>
                                    </thead>
                                    <tbody class="comment-widgets scrollable">
                                        <%if(users){%>
                                            <%users.forEach(user => {%>
                                                <tr>
                                                    <div>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                                <div class="m-r-10">
                                                                        <img src= <%-user.avatarUrl%> class="btn btn-circle d-flex btn-secondary text-white" alt="Product item" style="padding: 0px;">
                                                                </div>
                                                                <div class="">
                                                                    <h4 class="m-b-0 font-16" id=<%-user._id%> onclick="showUser('<%-user._id%>');" style="cursor: pointer;"><%-user.personalInfo.firstname + ' ' + user.personalInfo.lastname%></h4>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td><%-user.local.email%></td>
                                                        <td id="<%-user._id%>_role"><%-user.role%></td>
                                                        <%if(user.role == 'seller'){%>
                                                            <td><label id="<%-user._id%>_stt" class="label label-success">Accepted</label></td>
                                                        <%}else if(user.role == 'buyer'){%>
                                                            <%if(user.identifyCard){%>
                                                                <td><label id="<%-user._id%>_stt" class="label label-warning">Pending</label></td>
                                                            <%}else{%>   
                                                                <td><label id="<%-user._id%>_stt" class="label label-primary">Actived</label></td>
                                                            <%}%>
                                                        <%}else{%>
                                                            <td><label id="<%-user._id%>_stt" class="label label-danger">Banned</label></td>
                                                        <%}%>
                                                    </div>    
                                                    <td>
                                                        <%if(user.role == 'banned'){%>
                                                            <i id="<%-user._id%>_test" class="p-1 fa fa-eye text-white bg-primary rounded" onclick="return show('<%-user._id%>')" style="cursor: pointer;"></i>
                                                        <%}else{%>
                                                            <i id="<%-user._id%>_ban" class="p-1 fa fa-ban text-white bg-danger rounded" onclick="return banUser('<%-user._id%>')" style="cursor: pointer;"></i>
                                                        <%}%>
                                                        <%if(user.role == 'seller'){%>
                                                            <i id="<%-user._id%>_approve" class="p-1 fa fa-times-circle text-white bg-danger rounded" onclick="return approve('<%-user._id%>')" style="cursor: pointer;"></i>
                                                        <%}%>        
                                                        <%if(user.role == 'buyer'){%>
                                                            <i id="<%-user._id%>_approve" class="p-1 fa fa-check text-white bg-success rounded" onclick="return approve('<%-user._id%>')" style="cursor: pointer;"></i>
                                                        <%}%>
                                                    </td>
                                                </tr>
                                            <%})%>
                                        <%}else{%>
                                            <tr>
                                                <h3>No users in the system.</h3>
                                            </tr>
                                        <%}%>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Table -->
                <!-- ============================================================== -->           
            </div>
            <!-- pagination section start -->
            <!-- pagination section end -->
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                All Rights Reserved with <i class="fa fa-heart" aria-hidden="true"></i>. Designed and Developed by <a
                    href="https://fb.com/hoan.glad">C1.SE08</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/adminvendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/adminvendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="/adminvendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/js/custom.js"></script>
    <!--This page JavaScript -->
    <script src="/js/admin.script.js"></script>
    <script src="/js/alertify.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/alertify.js"></script>
    <script src="/js/sweetalert2.all.min.js"></script>
</body>

</html>